* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

/* ASIDE */
/* ASIDE */
/* ASIDE */

aside .header-container {
    width: 12.5vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

aside .header.container .top {
    align-self: flex-start;
}

aside .header.container .bottom {
    align-self: flex-end;
}

/* MAIN */
/* MAIN */
/* MAIN */

main {
    position: absolute;
    right: 0;
}

/* MAIN - NAVBAR */
/* MAIN - NAVBAR */
/* MAIN - NAVBAR */

.navbar{
    width: 87.5vw;
    display: flex;
    background-color: blue;
    justify-content: center;
}

.navbar li {
    display: inline-block;
    margin: 20px 20px;
}

/* MAIN -JUMBOTRON */
/* MAIN -JUMBOTRON */
/* MAIN -JUMBOTRON */

.jumbo {
    display: flex;
    width: 87.5vw;
    background-color: lightgreen;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-between;
    padding: 0 13%;
    min-height: 180vh;
}

.jumbo .title-space {
    margin-left: 3%;
    width: 100%;
    margin: -19% 0 -5%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.img-space {
    background-color: orange;
    height: ;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    margin: -32% 1% 0%;
}

img {
    max-width: 10vw;
    border-radius: 150px;
    margin-bottom: -80px;
}

/* PLAYER */
/* PLAYER */
/* PLAYER */

.player {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
