* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* HEADER */
/* HEADER */
/* HEADER */

header .header-container {
    width: 12.5vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

header .header.container .top {
    align-self: flex-start;
}

header .header.container .bottom {
    align-self: flex-end;
}

main {
    position: absolute;
    right: 0;
}

.navbar{
    width: 87.5vw;
    display: flex;
    background-color: blue;
    justify-content: center;
}

.navbar li {
    display: inline-block;
    margin: 20px 20px;
}

.jumbo {
    display: flex;
    width: 87.5vw;
    background-color: lightgreen;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-between;
    padding: 0 15%;
    min-height: 160vh;
}

.jumbo .title {
    margin-left: 3%;
    width: 100%;
    margin-top:;
    align-content: center;
}

.quad  {
    background-color: orange;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    margin: 0 20px;
}

.player {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
